/* HOME */
#page-container{
	margin-top: 100px;
}
.static{
	font-size: 12px;
	color: white;
	margin: auto auto;
}
#reset{
	display: none;
}
div#settings{
	background: url(../img/settings.ico) no-repeat center;
	width: 48px;
	height: 48px;
	cursor: pointer;
}
#steps-container{
	float: none;
	margin: 0 auto;
	width: 612px;
}

.progress-container{
	padding: 0!important;
	border-color: #A2AAAF!important;
	float: none!important;
	overflow: none!important;
}

.bar {
	padding: 0;
	height: 20px;
	width: 0%;
	background: url( ../img/progress.ico) repeat-x;
}

div.step {
	position: relative;
	width: 128px;
	height: 158px;
	display: inline-block;
	margin: 90px 10px 0 10px;

}
.step-success{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 48px;
	height: 48px;
	background: url(../img/ok.ico) no-repeat;
}
.step-error{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 48px;
	height: 48px;
	background: url('../img/error.ico') no-repeat;
}
/*SETTINGS*/
#settings-container{
	height: 800px;
}
.disabled{
	display: none;
}
.info{
	font-size: 12px;
}
#nav-bar-settings ul{
	background-color: #FFF; 
}

#id_plagiarism_index, #id_language{
	width: 30px;
}

#id_stop_words, #id_special_chars{
	height: 30px;
	width: 300px;
}

/* UPLOAD */
#general-progress{
	display:none;
}
#upload-input{
	background: url( ../img/file_upload.ico) no-repeat bottom;
	overflow: hidden;
}
#fileupload{
	cursor: pointer;
	height: 128px;
	margin-left: -210px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
}

/* TEXT EXTRACT */
#text-extract{
	background: url(../img/text-extract.ico) no-repeat bottom;
	overflow: hidden;
}

/* PRE PROCESS */
#pre-process{
	background: url(../img/pre-process.ico) no-repeat bottom;
	overflow: hidden;
}

/* SEARCH */
#search{
	background: url(../img/search.ico) no-repeat bottom;
	overflow: hidden;
}

/* RESULTS */
.paragraph, .sentences{
	padding: 0px;
	height: 250px;
	overflow-y: scroll;
}
.sentences .content{
	display: none;
}
.url i{
	cursor: pointer;
}
.similarity-low{
	font-weight: bold;
	color: #008000;
}
.similarity-medium{
	font-weight: bold;
	color: #FF8C00;
}
.similarity-high{
	font-weight: bold;
	color: red;
}
.icon-pdf{
	background: url(../img/pdf-icon.png) no-repeat center;
	width: 32px;
	height: 32px;
}
/* FAQ */

.question{
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.answer{
	padding: 10px;
	background-color: #DADADA;
	margin: 20px;
	line-height: 24px;
}
.anchor{
	display: block;
	padding-top: 50px;
}
.icon-settings{
	background: url(../img/settings24x24.ico) no-repeat center;
	width: 24px;
	height: 24px;
}

/*SERVER ERROR*/
.server-error{
	text-align: center;
}