<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
This is a skeleton html file that you can use to get you started on each new
HTML project

Name: Álvaro Santos
-->
<html lang="{{ LANGUAGE_CODE }}">

	<head>
		<title>OpenAkdemicPaper</title>
		<meta charset="UTF-8">
		<link href="{{STATIC_URL}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}vendor/fancyBox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />

		<script src="{{STATIC_URL}}vendor/jquery/jQuery-1.10.2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}vendor/fancyBox/source/jquery.fancybox.js"></script>
		<!-- upload -->
		<script src="{{STATIC_URL}}vendor/jQuery-File-Upload-9.2.1/js/vendor/jquery.ui.widget.js">
		</script>
		<script src="{{STATIC_URL}}vendor/jQuery-File-Upload-9.2.1/js/jquery.iframe-transport.js">
		</script>
		<script src="{{STATIC_URL}}vendor/jQuery-File-Upload-9.2.1/js/jquery.fileupload.js">
		</script>
		<script src="{{STATIC_URL}}js/scripts.js"></script>
		
	</head>



	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">OpenAkademicPaper</a>
					<a class="brand" href="{% url 'faq' %}">FAQ</a>
					<div id="settings" class="fancybox pull-right">
					</div>
				</div>
			</div>
		</div>

		<div id="page-container" class="container">
			<div class="fancybox"></div>
			{% block content %}
			{% endblock %}
			
		</div>
		
		<script type="text/javascript" src="{{STATIC_URL}}vendor/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>