{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<h1>FAQ</h1>
		<ul>
			<li>
				<a href="#q1">
					O que são as chaves do Google?
				</a>
			</li>
			<li>
				<a href="#q2">
					Por que devo criar chaves do Google?
				</a>
			</li>
			<li>
				<a href="#q3">
					Alguém terá acesso às minhas chaves do Google?
				</a>
			</li>
			<li>
				<a href="#q4">
					Como posso criar minhas próprias chaves do Google?
				</a>
			</li>
			<li>
				<a href="#q5">
					Como posso configurar as chaves de acesso do Google no OpenAkademicPaper?
				</a>
			</li>
		</ul>
		<div>
			<a class="anchor" name="q1">&nbsp</a>
			<span class="question">O que são as chaves do Google?</span>
			<div class="answer">As chaves do Google são dois identificadores que possibilitam a utilização do mecanismo de pesquisa do google pelo OpenAkademicPaper. Um deles é o id de mecanismo de pesquisa, que identifica as configurações personalizadas de pesquisa. O outro é a chave de acesso, que identifica o usuário do Google ao qual o id anteriormente mencionado pertence.
			</div>
		</div>
		<div>
			<a class="anchor" name="q2"></a>
			<span class="question">Por que devo criar as chaves do Google?</span>
			<div class="answer">O serviço de pesquisa personalizada oferecido pelo Google Custom Search possui um limite de utilização diário sem custos. Devido este limite, e o fato do projeto OpenAkademicPaper ainda não dispor de recursos para disponibilizar pesquisas ilimitadas, é necessária a utilização das chaves do usuário.
			</div>
		</div>
		<div>
			<a class="anchor" name="q3"></a>
			<span class="question">Alguém terá acesso às minhas chaves do Google?</span>
			<div class="answer">Não, o OpenAkademicPaper não armazenará nem disponibilizará suas chaves a mais ninguém. Assim que o navegador for fechado seus dados serão apagados.
			</div>
		</div>
		<div>
			<a class="anchor" name="q4"></a>
			<span class="question">Como posso criar minhas próprias chaves do Google?</span>
			<div class="answer">
				Obs.: Todos os processos e login mencionados neste tópico podem ser realizados com a mesma conta do Google.
				<p>Para criar suas chaves é necessário possuir uma conta do Google( que pode ser criada <a href="https://accounts.google.com/SignUp?continue=https%3A%2F%2Faccounts.google.com%2FManageAccount" target="_blank">aqui</a>), criar um mecanismo de pesquisa personalizado e habilitar a chave de utilização do Google Custom Search</p>
				<p>Para criação do mecanismo de pesquisa basta realizar login em <a href="https://www.google.com/cse" target="_blank">www.google.com/cse</a>, clicar em "novo mecanismo de pesquisa" e seguir as instruções. Após criado, o id do mecanismo de pesquisa pode ser encontrado em "editar mecanismo de pesquisa" > selecione seu mecanismo > "detalhes" > "id do mecanismo de pesquisa".</p>
				<p>Agora basta habilitar a utilização do Google Custom Search para sua conta do Google. Para isso é necessário realizar login no site <a href="https://cloud.google.com/console" target="_blank">cloud.google.com/console</a> e seguir os seguintes passos:</p>
				<ul>
					<li>Clique em criar novo projeto</li>
					<li>Escolha um nome de sua preferência</li>
					<li>Aceite os termos de serviço e clique em criar</li>
					<li>Na próxima página que abrir clique em APIs & auth</li>
					<li>Desative os serviços que estão marcados como "on" clicando sobre o botão</li>
					<li>Ative o serviço chamado custom Search API clicando sobre o botão "off"</li>
					<li>Na coluna a esquerda clique em "registered apps"</li>
					<li>Clique no botão "register app", e confirme no botão "Register"</li>
					<li>Na próxima página clique em "Browser key", logo abaixo serão exibidas informações sobre a chave. A chave de acesso é o texto logo abaixo do rótulo "API KEY"</li>
				</ul>
			</div>
		</div>
		<div>
			<a class="anchor" name="q5">&nbsp</a>
			<span class="question">Como posso configurar as chaves de acesso do Google no OpenAkademicPaper?</span>
			<div class="answer"> Para isto basta clicar no ícone <i class="icon-settings"></i>, localizado no canto superior direito da tela. Selecionar a aba "chaves de acesso", preencher os campos com as informações requisitadas e clicar em configurar.
			</div>
		</div>
	</div>

{% endblock %}