{% extends 'base.html' %}
{% block content %}
{% if error %}
	<span class="warning">{{ error }}</span>
{% endif %}
	<div id="steps-container" class="span8 well">
		
		{% if not has_keys %}
			<div class="alert alert-warning">
				Configure suas chaves do google para continuar<br/>
				<a href="{% url 'faq' %}#q5" target="_blank">saiba como configurar</a><br />
				<a href="{% url 'faq' %}#q4" target="_blank">saiba como obtê-las</a>
			</div>
		{% else %}
			<div id="filename"></div>
			<div id="action">Clique em upload para iniciar.</div>
			<div id="general-progress" class="well progress-container">
				<div class="bar"></div>
			</div>
		{% endif %}
		<div id="reset" class="container row"><a class="btn">Reiniciar</a></div>
		<div class="row">
			<div id="upload-input" class="step">
				<div class="step-status"></div>
					<div id="upload-input-progress" class="progress-container">
						<div class="bar"></div>
					</div>
					{% if has_keys %}
						<input id="fileupload" type="file" name="document" data-url="{% url 'upload' %}"/>
					{% endif %}
			</div>

			<div id="text-extract" class="step" >
				<div class="step-status"></div>
				<div id="text-extract-progress" class="progress-container">
					<div class="bar"></div>
				</div>
			</div>
			
			<div id="pre-process" class="step">
				<div class="step-status"></div>
				<div id="pre-process-progress" class="progress-container">
					<div class="bar"></div>
				</div>
			</div>
			
			<div id="search" class="step">
				<div class="step-status"></div>
				<div id="search-progress" class="progress-container">
					<div class="bar"></div>
				</div>
			</div>
		</div>
	</div>
{% if doc %}
	{{ doc.delete }}
{% endif %}

{% endblock %}