{% extends 'base.html' %}
{% block content %}
	<h3>
		índice geral do Documento 
		<span class="similarity-{{ doc.similarity_level }}">
			{{ doc.similarity }}%
		</span>	-
		<a href="{% url 'reportdefault' %}">Salvar Resultado<i class="icon-pdf"></i></a>
	</h3>
	{% for paragraph in doc.paragraphs.all %}
		<div class="row">
			<div class="span6 paragraph">
				<div>
					<p><b>Parágrafo nº {{ forloop.counter }}</b></p>
					<p>
						<b>índice de similaride</b>
						<span class="similarity-{{ doc.similarity_level }}">
							{{ paragraph.similarity }}%
						</span>
					</p>
				</div>
				<div>
					{{ paragraph }}
				</div>
				<div>
					<b>Sentenças pesquisadas</b>
					<ul>
						{% for sentence in paragraph.sentences.all %}
							<li>{{ sentence }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="span6 sentences">
				{% for sentence in paragraph.sentences.all %}
					{% if sentence.similarTokens.count > 0 %}
							{% for token in sentence.similarTokens.all %}
								<div>
									<div class="url">
										<i class="icon-small icon-plus-sign"> </i>
										<span class="similarity-{{ token.similarity_level }}" >
											{{ token.similarity }}%
										</span>
										<a target="_blank" href="http://{{ token.url }}">
											{{ token.url }}
										</a>
									</div>
									<div class="content">
										{{ token.highlighted_token|safe }}
									</div>
								</div>
								<hr />
							{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		
		<hr />
	{% endfor %}

{% endblock %}