<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
This is a skeleton html file that you can use to get you started on each new
HTML project

Name: Álvaro Santos
-->
<html lang="{{ LANGUAGE_CODE }}">

	<head>
		<title>OpenAkdemicPaper</title>
		<meta charset="UTF-8">
		<link href="{{STATIC_URL}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}vendor/fancyBox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
		
	</head>
	<body>
		<div id="settings-container" class="container row well">
			<div id="nav-bar-settings" class="span2">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="javascript:;" data-name="dip">Similaridade</a></li>
					<li><a href="javascript:;" data-name="pre-processor">Pré Porcessamento</a></li>
					<li><a href="javascript:;" data-name="google">Chaves de acesso </a></li>
				</ul>
			</div>
			<div id="content-settings" class="span4">
				<div id="dip-settings" >
					<h4>Detector de indícios de plágio</h4>
					<form id="dip-form">
						
						<label>índice de corte</label>
						{{ dip_form.plagiarism_index }}%
						<div class="info">*Resultados com similaridade menor não serão considerados </div>
						<div class="pull-right">
							<a id="default-dip" class="btn">Restaurar padrões</a>
							<a id="submit-dip"class="btn">Alterar</a>
						</div>
					</form>
					
				</div>
				<div id="pre-processor-settings" class="disabled">
					<h4>Configurações de Processamento de Texto</h4>
					<form id="pre-processor-form">
						<label>Idioma</label>
						{{ processor_form.language }}
						<div class="info">*Ex pt-br, en-us</div>
						<label>Stop Words</label>
						{{ processor_form.stop_words }}

						<label>Caracteres especiais</label>
						{{ processor_form.special_chars }}
						<div class="info">*Separe as stop words e caracteres especiais com espaços em branco</div>
						
						<div class="pull-right">
							<a id="submit-pre-processor" class="btn">Adicionar</a>
						</div>
					</form>
					<h4>Editar configurações</h4>
					<form id="edit-pre-processor-form">
						<label>Idioma</label>
						{{ edit_processor_form.language }}
						<div class="info">*Ex pt-br, en-us</div>
						<label>Stop Words</label>
						{{ edit_processor_form.stop_words }}

						<label>Caracteres especiais</label>
						{{ edit_processor_form.special_chars }}
						<div class="info">*Separe as stop words e caracteres especiais com espaços em branco</div>
						
						<div class="pull-right">
							<a id="submit-edit-pre-processor" class="btn">Alterar</a>
						</div>
					</form>

				</div>
				<div id="google-settings" class="disabled">
					<h4>Configurações de Busca do Google</h4>
					<form id="google-form">
						<label>Chave de acesso</label>
						{{ google_form.google_key }}
						
						<label>ID do mecanismo de pesquisa</label>
						{{ google_form.google_cx }}
						<div class="pull-right">
							<a id="default-google"class="btn">Restaurar Padrões</a>
							<a id="submit-google"class="btn">Configurar</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- SCRIPTS -->
		<script src="{{STATIC_URL}}vendor/jquery/jQuery-1.10.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}vendor/fancyBox/source/jquery.fancybox.js"></script>
		<!-- upload -->
		<script src="{{STATIC_URL}}vendor/jQuery-File-Upload-9.2.1/js/vendor/jquery.ui.widget.js">
		</script>
		<script src="{{STATIC_URL}}vendor/jQuery-File-Upload-9.2.1/js/jquery.iframe-transport.js">
		</script>
		<script src="{{STATIC_URL}}vendor/jQuery-File-Upload-9.2.1/js/jquery.fileupload.js">
		</script>
		<script src="{{STATIC_URL}}js/scripts.js"></script>
	</body>
</html>