<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html>
<head>
    <meta charset="utf-8" />
    <style type="text/css">
        @page {
            size: a4 portrait;

            @frame header_frame{           
                -pdf-frame-content: 'header_content';
                left: 25pt;
                width: 512pt;
                top: 25pt;
                height: 80pt;
            }

            @frame {          
                -pdf-frame-content: 'info_left';
                left: 25pt;
                width: 231pt;
                top: 60pt;
                height: 20pt;
            }
            @frame {          
                -pdf-frame-content: 'info_right';
                left: 281pt;
                width: 0pt;
                top: 60pt;
                height: 20pt;
            }
            
            @frame content_frame{
                left: 25pt;
                width: 512pt;
                top: 100pt;
                height: 560pt;
            }

            @frame footer_frame{
                -pdf-frame-content: 'footer_content';
                left: 25pt;
                width: 512pt;
                top: 820pt;
            }
        }
        .title{
            font-size: 16px;
            font-weight: bold;
        }
        .paragraph-title{
            font-size: 14px;
            font-weight: bold;
        }
        .center{
            text-align: center;
        }
        .left{
            text-align: left;
        }
        .right{
            text-align: right;
        }
        .similar_token{
            border: 1px solid red;

        }
        
               
    </style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
        <div class="title center">
            <h3>OpenAkademicPaper</h3>
        </div>
        <div id="info_left" class="left">
            índice geral do documento {{ doc.similarity }}%<br />
            {{ doc_name }}
        </div>
        <div id="info_right" class="right">
            <br />
            {% now "d \d\e F \d\e Y"   %}
        </div>
    </div>
    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">
        <div class="right">pág. <pdf:pagenumber> </div>
    </div>
    <!-- HTML Content -->
    
    {% for paragraph in doc.paragraphs.all %}
        <div class="title">Parágrafo nº {{ forloop.counter }} - índice {{ paragraph.similarity }}%</div>
        <p>{{ paragraph }}</p>
            {% for sentence in paragraph.sentences.all %}
                {% for similar_token in sentence.similarTokens.all %}
                        <div>
                            <a href="http://{{ similar_token.url }}">
                                {{ similar_token.similarity }}% - {{ similar_token.url }}
                            </a>
                        </div>
                        <p>{{ similar_token.highlighted_token|safe }}</p>
                {% endfor %}
            {% endfor %}
            <hr />
    {% endfor %}
    

</body>
</html>
